body {
   background: papayawhip;
   text-align: center;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: space-evenly;
}

.main {
   display: flex;
   flex: 1 1 1;
   flex-direction: row;
   flex-wrap: wrap;
   align-items:flex-start;
   min-height: 42vh;
}



.a {
   background: cadetblue;
   height: 15vh;
}

.b {
   background: gainsboro;
}

.c {
   background: honeydew
}

.d {
   background: lightsteelblue;
}

.e {
   background: paleturquoise;
}

.f {
   background: darkkhaki;
}

.g {
   background: mistyrose;
}

.b,
.c,
.d,
.e,
.f,
.g {   
   height: 21vh;
   width: 33.3%;
}

.h {
   background: thistle;
}

.h {
   height: 43vh;
}

@media only screen and (min-width:600px) {

   .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .a {
      height: 33.3vh;
      width: 100%;
      margin: auto
   }

   .main {
      width: 75%;
      height: 67vh;

   }

   .h {
      width: 25%;
      height: 67vh;
   }

   .b,
   .c,
   .d,
   .e,
   .f,
   .g {   
      height: 50%;
   }
}