:root {
   --border: 1px solid grey;
}

* {
   /* border: var(--border); */
}

body {
   background: papayawhip;
   padding: 10px 10px 20px 10px;
   text-align: center;
   margin:0;
   padding:0;
}

.header {
   flex:100%;
}

.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-around;
   height: 100vh;
}

.container div div {
   border: var(--border);
}

.main {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}

.main {
   flex:100%
}

.aside {
   flex:100%
}

.a, .b, .c, .d, .e, .f {
   /* margin:20px; */
   margin: 15px
}

.a {
   flex: 100%;
   height: 17vh;
}

.b {
   flex: 100%;
   height: 35vh;
   margin-top: unset;
}

.c, .d {
   margin-right: unset;
}
.c, .d, .e {
   flex: 28%;
   height: 17vh;
   margin-top: unset;
}

.f {
   flex: 100%;
   height: 17vh;
   margin-top: unset;
}


@media only screen and (min-width:600px) {

   .container {
      flex: 1 1 1;
      height: 100vh;
      justify-content:space-between;
      align-items:flex-start; 

   }

   .container>div {

   }

   .header {

   }

   .main {
      flex: 73%;
   }

   .aside {
      flex: 23%
   }

   .a, .b {
      height: 30vh;
   }

   .b, .e  {
      margin-right: unset;
   }

   .c, .d, .e, .aside {
      flex: 23%
   }

   .a, .b, .c, .d, .e {
      height: 31vh;
   }

   .f {
      height:63vh;
      margin-top: unset
   } 


}