
body {
   background: papayawhip;
   text-align: center;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

.main {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content:space-between;
   min-height: 60vh;
}



.a {
   background: cadetblue;
   height: 20vh;
}

.b {
   background: gainsboro;
   height: 40vh;
   width: 100%;
}

.c {
   background: honeydew
}

.d {
   background: lavender;
}

.e {
   background: paleturquoise;
}

.c,
.d,
.e {
   height: 20vh;
   width: 33.3%;
}

.f {
   background: mediumaquamarine;
   height: 20vh;
}

@media only screen and (min-width:600px) {

   .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }

   .a {
      height: 33.3vh;
      width: 100%;
      margin:auto
   }

   .main {
      width: 75%;
      height: 67vh;

   }

   .b,
   .c,
   .d,
   .e {
      height: 50%;
   }

   .b {
      width: 100%;
   }

   .f {
      width: 25%;
      height: 67vh;
   }


}